---
import { config } from "@/lib/config";
---

<footer class="fixed bottom-0 left-0 right-0 z-50 flex px-4 items-center h-12 text-white backdrop-blur-md">
  <p class="text-sm">
    &copy; {new Date().getFullYear()} - <span class="font-bold">{config.title}</span>
  </p>
</footer>
