---
import { config } from "@/lib/config";
import Theme from "@/components/Theme";
---

<nav class="flex items-center justify-between border-b-2 border-zinc-500 py-2 px-20 gap-4 w-full">
  <a href="/" class="text-xl font-bold">{config.title}</a>

  <div>
    <Theme client:load />
  </div>
</nav>
